/.idea/
/runtime/
/assets/date.json
/assets/daily_tasks_record.json
/config/
/screencap.png
/screencap.png
/screencap_error.png
/assets/ocr-v4/
/assets/ocr-v5/
/cache
/.claude
/agent/agent.exe
/debug/
/.nicegui/
/mxu.exe
/mxu.pdb
/maafw/